@import url("https://fonts.googleapis.com/css2?family=Genos:wght@100;300;400;500;600;700;900&family=Josefin+Slab:wght@300;400;500;600;700&family=Monoton&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
}

body {
	background-color: white;
	overflow-x: hidden;
}
a {
	font-size: 18px;
	color: black !important;
	text-decoration: none !important;
}
ul {
	list-style-type: none;
}

.navbar-light {
	min-height: 15vh !important;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
	max-width: 100% !important;
	position: sticky !important;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
}
.navbar-brand {
	font-size: 25px;
	font-style: bold !important;
	margin-left: 25px;
}

.form-control {
	outline: none !important;
	border: none !important;
}

.form-control:hover {
	border: 1px solid black !important;
	outline: none !important;
}
.search-box {
	display: flex;
	justify-content: center;
	width: 100%;
}
.search-box input {
	width: 70%;
	outline: 0;
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px 20px;
	transition: 1s;
}
.search-box input:hover {
	border: 1px solid black;
}

.search-box button {
	cursor: pointer;
	padding: 5px 15px;
	font-size: 18px;
	margin: 0px 5px;
	outline: none;
	border: 1px solid black;
	color: white;
	background: black;
	border-radius: 10px;
}

.search-box button:hover {
	color: white;
	background-color: black;
}

.dropdown-menu {
	min-width: 50px !important;
}

/* form design */

.signup-box {
	display: flex;
	min-height: 70vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.form-controls input,
.form-controls textarea,
.form-controls label {
	display: block;
	width: 400px;
	padding: 5px 4px;
}

.form-controls input:focus,
.form-controls textarea:focus {
	outline: none;
	border-color: #240370;
	background-color: #e0d4fd;
}
.form-container {
	width: 500px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 64vh;
	border-radius: 10px;
	margin-bottom: 10px;
}

.form-actions {
	text-align: right;
}

.form-actions button {
	margin: 5px 0px;
	padding: 5px 10px;
	color: white;
	background-color: black;
	cursor: pointer;
	border-radius: 10px;
}

.form-actions button:active,
.form-actions button:focus,
.form-actions button:hover {
	background-color: rgb(26, 22, 22);
}

.add-product-btn-box button {
	padding: 5px 15px;
	margin: 5px 0px;
	background-color: black;
	border-color: #292929;
	color: white;
	border-radius: 5px;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
	background-color: #ccc;
	color: #292929;
	border-color: #ccc;
	cursor: not-allowed;
}

.invalid input,
.invalid textarea {
	border: 1px solid #b40e0e;
	background-color: #fddddd;
}

.invalid input:focus,
.invalid textarea:focus {
	border-color: #ff8800;
	background-color: #fbe8d2;
}

.error-text {
	color: #b40e0e;
}
.alert button {
	outline: none !important;
	border: none !important;
	margin-right: -5px !important;
	margin-top: -5px !important;
}

.card {
	max-width: 400px;
	min-width: 300px;
}
.product-box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	justify-content: center;
}
.card-button {
	display: flex;
	justify-content: space-around;
}

.card-button button {
	padding: 5px 10px;
	border: none;
	outline: none;
	background-color: #292929;
	color: white;
	border: 2px solid black;
	border-radius: 5px;
	transition: 0.5s;
}

.card-button button:hover,
.card-button button:active {
	background-color: white;
	color: black;
}

.admin-box {
	display: grid;
	grid-template-columns: 1fr 3fr;
	justify-content: flex-start;
	margin: 5px 0px;
}
.left-side {
}
.right-side {
}

@media (max-width: 1226px) {
	.product-box {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 940px) {
	.product-box {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 640px) {
	.product-box {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
	}
	.card {
		max-width: 500px;
		min-width: 250px;
	}
	.admin-box {
		display: grid;
		grid-template-columns: 1fr 2fr;
		justify-content: flex-start;
		margin: 3px 0px;
	}
}

@media (max-width: 522px) {
	.form-container {
		width: 400px;
	}

	.form-controls input,
	.form-controls textarea,
	.form-controls label {
		display: block;
		width: 300px;
		padding: 4px 3px;
	}
}

@media (max-width: 420px) {
	.form-container {
		width: 300px;
	}

	.form-controls input,
	.form-controls label {
		display: block;
		width: 250px;
		padding: 3px 2px;
	}
}
